<div class="color0">
    <div class="container">
        <div class="row text-center">
            <div class="col color1">
                <a class="btn btn-block" routerLink="/">Pedido</a>
            </div>
            <div class="col color2">
                <a class="btn btn-block" routerLink="/aluno">Aluno</a>
            </div>
            <div class="col color3">
                <a class="btn btn-block" routerLink="/about">About</a>
            </div>
            <!-- <div class="col color3">
                            <a routerLink="/user">Usuário</a>
                        </div> -->
        </div>
    </div>
    <router-outlet></router-outlet>
</div>