/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300'); 

body{
    font-family: 'Quicksand', sans-serif;
}

.big-font{
    font-size: 10vw;
}

.round-corners {
    border-radius: 5px;
    border: 2px solid lightslategray
}

.bo1
{
    border: 1px solid black;
}

.bo2
{
    border: 1px solid blue;
}

.bo3
{
    border: 1px solid yellow;
}

.color0
{
    background-color: lightgray;
}

.color1
{
    /* background-color: rgba(5, 102, 141, 0.15); */
    background-color: rgba(63, 64, 66, 0.1);
}

.color2
{
    /* background-color: rgba(2, 128, 144, 0.15); */
    background-color: rgba(94, 94, 96, 0.1);
}

.color3
{
    /* background-color: rgba(0, 168, 150, 0.15); */
    background-color: rgba(123, 123, 124, 0.1);
}

.color4
{
    /* background-color: rgba(2, 195, 154, 0.15); */
    background-color: rgba(154, 154, 155, 0.1);
}

.color5{
    /* background-color: rgba(240, 243, 189, 0.15); */
    background-color: rgba(202, 202, 202, 0.1);
}

.color-dark{
    background-color: rgb(52, 58, 64)
}

.navbar-color-dark{
    background: transparent;
    background-color: rgb(52, 58, 64)
}
